.main{
    block-size: calc(100vh - 180px);
    background-color: white;
    border: 2px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 6px #39373D;
    overflow: auto;
}

.h2{
    height: 100%;
    min-height: 7vh;
    max-height: 7vh;
}

.div{
    display: flex;
    justify-content: space-between;
}

.main .container{
    margin: 5px;
    height: 100%;
    min-height: 53vh;
    max-height: 53vh;
    padding: 5px;
}

.form{
    height: 100%;
    min-height: 8vh;
    max-height: 8vh;
    width: 100%;
}

.scrollBox{
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}

.listGroup{
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}

.card{
    width: auto;
    max-width: 60%;
    margin: 5px;
}

