.footer {
    background-color: #39373D;
    color: white;
    position: fixed;
    z-index: 9999;
    left: 0;
    bottom: 0;
    right: 0;
    height: 80px;
}

.container{
    display: flex;
    justify-content: center;
}

.container div {
    text-align: center;
}

.cover {
    width: 100%;
    height: 90px;
}